*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    padding: 0 15px;
    font-family: "Segoe UI", system-ui, sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cars__name-category {
    font-size: 26px;
    font-weight: 600;
    color: brown;
    margin-bottom: 20px;
    display: block;
}

.cars__items {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.cars__list {
    display: grid;
    max-width: 980px;
    grid-gap: 26px;
    grid-template-columns: repeat(2, 1fr);
}

.cars__img {
    object-fit: cover;
    object-position: center;
    margin-bottom: 12px;
    border-radius: 12px;
}

.cars__name {
    font-size: 20px;
}

.cars__links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.cars__link, .logout, .btn {
    margin-top: 14px;
    outline: none;
    border: none;
    cursor: pointer;
    font: inherit;
    font-size: 18px;
    background-color: brown;
    border-radius: 10px;
    color: white;
    padding: 12px 18px;
    text-decoration: none;
    display: inline-block;
}

.logout {
    margin: 40px 0;
}

.status {
    border-radius: 50px;
    background-color: #f58200;
    color: white;
    padding: 8px 20px;
    display: inline-block;
    margin-top: 12px;
}